---
import { eventDetails } from '../data/eventData.js'

const isEventDefined = eventDetails && eventDetails.schedule && eventDetails.schedule.length > 0

const { title, date, location, schedule } = isEventDefined ? eventDetails : {}
---

<section id="Agenda" class="mb-32 mt-32">
  <div class="grade container">
    <h2 class="mb-16 text-6xl">Agenda</h2>
    {
      isEventDefined ? (
        <>
          <b>{date}</b>
          <b>{location}</b>
          <table>
            <tr>
              <th>Horário</th>
              <th>Título</th>
              <th>Palestrante</th>
            </tr>
            {schedule.map((item) => (
              <tr>
                <td>{item.time}</td>
                <td>
                  <b>{item.title}</b>
                </td>
                <td>{item.speaker}</td>
              </tr>
            ))}
          </table>
        </>
      ) : (
        <div class="text-center">
          <p class="text-2xl">Aguarde! Em breve divulgaremos a agenda completa do evento.</p>
        </div>
      )
    }
  </div>
</section>

<style lang="scss">
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    color: #000;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
  }
</style>
