---
import { speakers, cfpAvailable } from '../data/speakersData.js'
const hasSpeakers = speakers.length > 0

// Preload images using import.meta.glob
const images = import.meta.glob('../assets/img/*', { eager: true })
---

<section id="Palestrantes" class="mb-32 mt-32">
  <div class="container">
    <h2 class="mb-16 text-6xl">Palestrantes</h2>
    {
      hasSpeakers ? (
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
          {speakers.map((speaker) => (
            <div class="center text-center" key={speaker.name}>
              <div class="foto">
                <a href={speaker.linkedin} target="_blank">
                  <img src={images[speaker.image].default.src} alt={`Foto de ${speaker.name}`} />
                </a>
              </div>
              <p class="text-2xl font-semibold">{speaker.name}</p>
              <p class="text-1xl">{speaker.title} @ {speaker.company}</p>
              <div class="company">
                <a href={speaker.companyUrl} target="_blank">
                  <img src={images[speaker.companyLogo].default.src} alt={`Logo da ${speaker.company}`} />
                </a>
              </div>
            </div>
          ))}
        </div>
      ) : (
        <div class="text-center">
          {cfpAvailable ? (
            <p class="text-2xl">As inscrições para palestrantes estão abertas! <a href="https://www.papercall.io/serverlessdays-saopaulo-2024">Envie sua proposta agora.</a></p>
          ) : (
            <p class="text-2xl">Em breve teremos a lista de palestrantes. Fique ligado!</p>
          )}
        </div>
      )
    }
  </div>
</section>

<style lang="scss">
  .foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
  }

  .foto img {
    height: 15em;
    border-radius: 50%;

  }

  .company {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    margin-top: 10px;
  }

  .company img {
    height: 3em;
  }

  .center {
    display: grid;
    justify-content: center;
  }

  .novos-palestrantes {
    margin-top: 5em;
  }
</style>
