---
import { sponsors, hasSponsors } from '../data/sponsorsData.js'

// Preload images using import.meta.glob
const images = import.meta.glob('../assets/img/*', { eager: true })

const renderSponsors = (level, title, className) => {
  if (sponsors[level].length === 0) {
    return null
  }

  return (
    <>
      <div class="centralized-section">
        <div
          class={`grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-${
            level === 'community' ? 6 : level === 'apoio' ? 4 : 3
          }`}
        >
          {sponsors[level].map((sponsor) => (
            <div class="logo" key={sponsor.name}>
              <a href={sponsor.url} target="_blank">
                <img class={`logo-${className}`} src={images[sponsor.image].default} alt={`Logo ${sponsor.name}`} />
              </a>
            </div>
          ))}
        </div>
      </div>
      <div class="animate center text-center">
        <p class="text-2xl font-semibold">{title}</p>
      </div>
      <hr class="separator" />
    </>
  )
}
---

<section class="mb-32 mt-32">
  <div class="container">
    <h2 class="mb-16 text-6xl">Patrocinadores</h2>
    {
      hasSponsors ? (
        <>
          {renderSponsors('platinum', 'Platinum', 'platinum')}
          {renderSponsors('gold', 'Gold', 'gold')}
          {renderSponsors('community', 'Community', 'community')}
          {renderSponsors('apoio', 'Apoio', 'apoio')}
        </>
      ) : (
        <div class="text-center">
          <p class="text-2xl">
            Estamos em busca de patrocinadores! Se você está interessado, entre em contato conosco.
          </p>
        </div>
      )
    }
  </div>
</section>

<style lang="scss">
  .logo-platinum {
    width: 30em;
    max-height: 8em;
  }
  .logo-gold {
    width: 15em;
  }
  .logo-community {
    max-height: 6em;
    max-width: 10em;
  }
  .logo-apoio {
    width: 5em;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
  }
  .center {
    display: grid;
    justify-content: center;
  }
  .centralized-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .separator {
    border: none;
    border-top: 1px dotted gray;
    margin: 40px 0;
  }
</style>
